@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #F2F2F2;
}

.memberHover:hover {
    background-color: #fbfbfb;
    cursor: pointer;
}

#container {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10px;
    font-family: 'Roboto';
    
    font-weight: 200;
}
.app {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px 3px #cccccc;
    background-color: #FFFFFF;

}

h1, .test {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 300;
}

h2 {
    font-family: 'Roboto';
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 400;
}

.action-icon {
    padding-left: 95%;
    font-size: 30px;
    cursor: pointer;
}


.line-style{
    border-top: 1px solid #cccccc;
}


.left {
    padding:7px;
    padding-left: 30px;
    padding-right: 30px;
    width: 70px;
    float: left;
}
.right {
    line-height: 50%;
    margin-left: 70px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.heading {
    padding-left: 30px;
}

.icon {
    width: 40px; 
}


h3 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 48%;
    padding: 14px 20px;
    margin: 8px 0;

    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    
}

.green {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding-right: 10px;
}
.green:hover {
    background-color: #45a049;
}

.red {
    background-color: white;
    border-width: 1px;
    border-color: red;
    color: red;
}

.red:hover {
    background-color: #f2f2f2;
}




.inputArea {
    padding-left: 30px;
    padding-right: 30px;
}

.actionButtons {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.formArea {
    padding-bottom: 20px;
}


.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control {
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: #428bca;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #5496cf;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}


/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
